<h1>Hello</h1>
<h3>Add New Song <%= link_to "(+)", new_song_path  %></h3>

<% @songs.each do |song| %>
<h3><%= link_to song.name, song_path(song) %> <%= link_to "(edit)", edit_song_path(song) %></h3>
<p><%= link_to "Delete Song", song_path(song),
        method: :delete,
        data: {confirm: "Are you sure?"} %></p>

<% end %>
