<h1>Listing Recipes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.title %></td>
      <td><%= recipe.text %></td>
      <td><%= link_to 'Show', recipe_path(recipe) %></td>
    </tr>
  <% end %>
</table>
